





 <div class="card flex justify-center">
            <textarea rows="5" cols="30" pTextarea [(ngModel)]="value"></textarea>
        </div>

<button (click)="extract()">Extract</button>

<div *ngIf="expenses.length != 0">
        <div *ngFor="let exp of expenses; let i = index" class="expense-card">

  <input [(ngModel)]="exp.category" placeholder="Category" />
  <input [(ngModel)]="exp.amount" type="number" placeholder="Amount" />
  <input [(ngModel)]="exp.merchant" placeholder="Merchant" />
  <input [(ngModel)]="exp.description" placeholder="Description" />

  <select [(ngModel)]="exp.paymentMethod">
    <option value="">Select payment</option>
    <option value="cash">Cash</option>
    <option value="card">Card</option>
  </select>

  <button (click)="removeExpense(i)">Delete</button>

</div>


  <button (click)="saveAll()">Save</button>
</div>
