<div class="new-expense-page">
  <!-- HEADER -->
  <div class="page-header">
    <div class="title-section">
      <h2>Add New Expense</h2>
      <p><i>Track expenses manually or extract them with AI helper</i></p>
    </div>
  </div>

  <!-- MODE SELECTOR -->
  <div class="mode-selector">
    <button class="mode-btn" [class]="selectedMode === 'ai' ? 'active' : ''" (click)="selectedMode = 'ai'">
      AI Assistant
    </button>

    <button class="mode-btn" [class]="selectedMode === 'manual' ? 'active' : ''" (click)="selectedMode = 'manual'">
      Manual Entry
    </button>
  </div>

  <!-- MANUAL SECTION -->
  <div *ngIf="selectedMode === 'manual'">
    <div class="section-title">
      <p>Fill in the expense information manually.</p>
    </div>

    <app-expense-form [expense]="newExpense" [categories]="categories"
      [actions]="{ edit: false, save: true, cancel: false, delete: false }"
      (save)="saveExpense($event)"></app-expense-form>
  </div>

  <!-- AI SECTION -->
  <div *ngIf="selectedMode === 'ai'">
    <div class="section-title">
      <p>Describe your purchases and let AI extract expenses automatically.</p>
    </div>

    <!-- INPUT SECTION -->
    <div class="input-card">

      <textarea rows="5" [disabled]="isLoading" pTextarea [(ngModel)]="value" placeholder="Describe your expenses..."
        class="textarea">
    </textarea>

      <button class="extract-btn" (click)="extract()" [disabled]="isLoading">
        {{ isLoading ? 'Extracting...' : 'Extract Expenses' }}
      </button>

      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
    </div>

    <!-- EXPENSE LIST -->
    <div *ngIf="aiGeneratedExpenses.length > 0" class="expenses-wrapper">
      <app-expense-form *ngFor="let exp of aiGeneratedExpenses" [expense]="exp" [categories]="categories"
        [actions]="{ edit: false, save: false, cancel: false, delete: true }"
        (delete)="removeExpense($event)"></app-expense-form>

      <button class="save-btn" (click)="saveAll()">
        Save All Expenses
      </button>
    </div>
  </div>
</div>