<div class="whole-page">
  <div class="container">
    <div class="left-panel">
      <h1>Expense Tracker</h1>
      <p>
        Manage your expenses, track your budget,
        and stay financially organized with a clean and modern experience.
      </p>
    </div>

    <div class="right-panel">
      <div class="tabs">
        <button type="button" class="tab-btn" [class]="{'active': formType === 'login'}"
          (click)="showLogin()">Login</button>
        <button type="button" class="tab-btn" [class]="{'active': formType === 'register'}"
          (click)="showRegister()">Register</button>
      </div>

      <app-login *ngIf="formType === 'login'" class="form-content"></app-login>
      <app-register *ngIf="formType === 'register'" class="form-content"></app-register>
    </div>
  </div>
</div>