<div style="    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;">
    <div>
        <h2>Hello, John!</h2>
        <span><i>Here's a summary of your expenses</i></span>
    </div>
    <div>
        <mat-form-field appearance="outline" style="padding: 10px">

          <mat-label>Dashboard for month:</mat-label>

          <input
              matInput
          [matDatepicker]="picker"
          [formControl]="selectedDate"
          readonly="true"  
          (dateChange)="setMonthAndYear($event, picker)">

          

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

          <mat-datepicker
            #picker
            startView="multi-year"
            (monthSelected)="chosenMonthHandler($event, picker)"
            (yearSelected)="chosenYearHandler($event)">
          </mat-datepicker>

        </mat-form-field>
      </div>

    
</div>

<div  style="
        display: grid;
    grid-template-columns: repeat(3, 32%);
justify-content: space-between;
">
  <app-statistics-card
  title="Budget"
  value="$1,234.56"
  icon="attach_money"
  color="#4caf50" />
<app-statistics-card
  title="Total Expenses"
  value="$1,234.56"
  icon="attach_money"
  color="rgba(255, 99, 132, 1)" />
  <app-statistics-card
  title="Total Expenses"
  value="$1,234.56"
  icon="attach_money"
  color="rgba(255, 205, 132, 1)" />
</div>




<div style="margin-top:20px;
width:100%; 
display: grid;
    grid-template-columns:  59% 39%;
justify-content: space-between;
height: 400px;">
<div class="chart-container small-chart"  style=" border: 1px solid #ccc; background-color: #3f3e3e; border-radius: 8px; padding: 16px; ;  box-shadow: 0 2px 7px #ffffff">
  
  <!-- OVERVIEW -->
  <div class="overview-card">

    <div class="card-header">

      <h2>Expenses Overview</h2>

      <button class="category-btn">
        By Category
      </button>

    </div>

    <div class="overview-content">

      <!-- CHART -->
      <div class="chart-wrapper">

        <canvas
          baseChart
          [data]="pieChartData"
          [options]="pieChartOptions"
          [type]="'doughnut'">
        </canvas>

      </div>

      <!-- LEGEND -->
      <div class="legend">

        <div
          class="legend-item"
          *ngFor="let expense of expenses">

          <div class="legend-left">

            <span
              class="dot"
              [style.backgroundColor]="expense.color">
            </span>

            <p>{{ expense.category }}</p>

          </div>

          <span>
            ${{ expense.amount }}
          </span>

          <span class="percent">
            {{ expense.percent }}%
          </span>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="chart-container"  style=" border: 1px solid #ccc; background-color: #3f3e3e; border-radius: 8px; padding: 16px;  box-shadow: 0 2px 7px #ffffff">
  
  <!-- AI INSIGHTS -->
  <div class="insights-card">

    <div class="card-header">

      <h2>AI Insights</h2>

      <a>View all</a>

    </div>

    <!-- MAIN INSIGHT -->
    <div class="main-insight">

      <div class="bot-icon">
        🤖
      </div>

      <p>
        Your spending on Food & Dining increased by 23% this month.
      </p>

    </div>

    <!-- DYNAMIC INSIGHTS -->
    <div
      *ngFor="let insight of aiInsights"
      class="insight-item"
      [ngClass]="insight.type">

      {{ insight.icon }}
      {{ insight.text }}

    </div>

  </div>
</div>
</div>

<div style="margin-top:40px;
width:100%; 
display: grid;
    grid-template-columns:  49% 49%;
justify-content: space-between;
height: 300px;">
<div class="chart-container small-chart"  style=" border: 1px solid #ccc; background-color: #3f3e3e; border-radius: 8px; padding: 16px; ;  box-shadow: 0 2px 7px #ffffff">
<!--   
<div class="bottom-dashboard-grid"> -->

  <!-- EXPENSES TREND -->
  <div class="trend-card">

    <div class="card-header">

      <div>
        <h2>Expenses Trend</h2>
        <p>Your monthly spending overview</p>
      </div>

      <button class="filter-btn">
        This Year
      </button>

    </div>

    <div class="trend-chart-wrapper">

      <canvas
        baseChart
        [data]="trendChartData"
        [options]="trendChartOptions"
        [type]="'line'">
      </canvas>

    </div>

  <!-- </div> -->

  </div>
  </div>

  <div class="chart-container"  style=" border: 1px solid #ccc; background-color: #3f3e3e; border-radius: 8px; padding: 16px;  box-shadow: 0 2px 7px #ffffff">
  
  <!-- RECENT TRANSACTIONS -->
  <div class="transactions-card">

    <div class="card-header">

      <div>
        <h2>Recent Transactions</h2>
        <p>Latest activity</p>
      </div>

      <a class="view-all">
        View all
      </a>

    </div>

    <div
      class="transaction-item"
      *ngFor="let transaction of transactions">

      <!-- LEFT -->
      <div class="transaction-left">

        <div
          class="transaction-icon"
          [style.backgroundColor]="transaction.color">

        </div>
    </div>
    </div>
</div>

</div>
</div>

<!-- 
<canvas
  baseChart
  [data]="barChartData"
  [type]="'bar'">
</canvas>


<div class="chart-container">
  <canvas
    baseChart
    [data]="lineChartData"
    [type]="'line'">
  </canvas>
</div>



<div class="chart-container small-chart">
  <canvas
    baseChart
    [data]="doughnutChartData"
    [type]="'doughnut'">
  </canvas>
</div>

<div class="chart-container">
  <canvas
    baseChart
    [data]="radarChartData"
    [type]="'radar'">
  </canvas>
</div>

<div class="chart-container">
  <canvas
    baseChart
    [data]="polarChartData"
    [type]="'polarArea'">
  </canvas>
</div> -->